[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
push = "python main.py"
test = "python test.py"
new = "python new.py"

[packages]
markdown = "3.3.3"
python-wordpress-xmlrpc = "2.3"
python-frontmatter = "0.5.0"

[dev-packages]

[requires]
python_version = "3.7"
